.DocumentGrid {
  padding: 10px;
  padding-top: 0px;

  & :hover {
    cursor: pointer;
  }

  & :global(.MuiDataGrid-cell) {
    border: 1px solid rgba(224, 224, 224, 1);
    box-sizing: border-box;
    padding: 0px !important;
  }

  & :global(.MuiDataGrid-columnHeaderTitleContainerContent) {
    overflow: visible !important;
  }
}
